body {
    font-family: 'Roboto', sans-serif;
}

.navbar {

}

.alert-container {

}

.callout, .alert-container {
    position: relative;

}

.callout-container {
    height: 100vh;
    /* width: 100vw; */
    background: url(../images/whiskey-background.jpeg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0000007a
}

.quotes-container {

}

.features-container {

}

.callout {

}

.jumbo-header {
    color: white;
    font-weight: bold;
}

.text-muted small {
    font-size: 70%;
    font-style: italic;
    color: #d0d0d0;
}

hr {
    height: 5px!important;
}

.h-rule {
    width: 75px;
    height: 5px;
    border: 0;
    opacity: 0.5;
    background: linear-gradient(45deg, rgb(187, 39, 255), rgb(255, 0, 0));
    margin: 30px auto;
    border-radius: 5px;
}

.h-rule--orange {
    background: linear-gradient(45deg, rgb(153, 140, 24), rgb(255, 174, 0));
}

.h-rule--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 10px;
    width: 160px;
    border: 1px solid rgb(155, 13, 13);
}

.btn--red {
color: white;
background: linear-gradient(45deg, rgb(155, 13, 13), rgb(255, 174, 0));
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background: linear-gradient(45deg, rgb(83, 6, 6), rgb(143, 98, 0));
    color:cornsilk;
    border: 1px solid cornsilk;
}